{% extends "streams/base.html" %} {% load bootstrap4 %} {% load static %}

{% block content %}
<script src="{% static 'streams/video-feed.js' %}"></script>

<video id="local_video" width="480" height="360" autoplay muted></video>

<label for="video_source">Video Source: </label><select id="video_source"></select>
<label for="audio_source">Audio Source: </label><select id="audio_source"></select>

<form action="{% url 'streams:create_game' %}" method="post" class="form">
    {% csrf_token %}
    <label for="id_num_players">Number of Players: </label>
    <input type="number" name="num_players" id="id_num_players" required>
    <input type="submit" value="create game"/>
</form>
{% endblock content %}