{% extends "streams/base.html" %} {% load bootstrap4 %} {% load static %}

{% block content %}
{{ game_id|json_script:"game_id" }}
{{ video_source|json_script:"video_source" }}
{{ audio_source|json_script:"audio_source" }}

<p>local video</p>
<video id="local_video" width="480" height="360" autoplay muted></video>

<p>remote video</p>
<video id="remote_video" width="480" height="360" autoplay></video>

<script type="text/javascript" src="{% static 'streams/index.js' %}"></script>
{% endblock content %}